:root{
    --primary-color:#0A1128;
    --white-font: white;
    --gap: 3rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
/* 

font-family: "Montserrat", sans-serif;
font-family: "Open Sans", sans-serif; */
html{
    font-size: 62.5%; /* 1rem = 10px */

}

body {
    font-family: "Open Sans", sans-serif;
    font-size: 2rem; /* 16px */
    color: var(--primary-color);
   
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", sans-serif;
}

h1 {
    font-size: 8rem; 
}

h2{
    font-size: 5.5rem;
}

h3{
    font-size: 5rem; 
}

h4{
    font-size: 4.5rem; 
}

h5{
    font-size: 4rem;    
}

h6{
    font-size: 3.6rem;
}

.ground{
    background-image: url("/assets/img/confetti-doodles.svg");
    background-position: center center;
    background-size: cover;
    color: var(--white-font);
}

.ground-02{
     color: var(--white-font);
}


.main-content{
    max-width: 1200px;
    margin: 0 auto;
    padding: var(--gap);
    
    
}

.section{
    min-height: 100vh;
}

.logo{
    width: 190px;
    height: 100px;
    margin: 0;
    padding: 0;
}

.menu{
    background-color: var(--white-font);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    right: 0;
    /* border-bottom: 0.9rem solid rgb(237, 230, 27); */
    

    
}
.menu-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 1;

}

.menu ul {
    list-style: none;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    height: 100%;

}

.menu ul li {
    padding: 1rem 2rem;
    width: 120px;
    text-align: center;
    
}

.menu ul li a {
    color: var(--primary-color);
    font-weight: 600;
    font-size: 1.8rem;
    display: block;
}


nav {
        height: 100px;

} 

.menu ul li a:hover {
color: rgb(255, 255, 255);
}


.pika{
    background-image: url("/assets/img/6QX2a1c.jpg");
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    
}
